<!DOCTYPE html>
<html lang="en">
  <head>
   <% include partials/page/head.ejs %>
   
 
  </head>
  <body class= "<%= classname %>">
   
     <% include partials/page/header.ejs %>
    
    <div class='container'>
        
       <h1><%= pagetitle %><%= title %></h1>


       <p> ipsom </p>
       

    
    </div><!--container div -->
    
     <% include partials/page/footer.ejs %>
      <% include partials/page/jsdefaults.ejs %>
    
    
     </body>
</html>
    
 
    
    
        
        
        
    

